* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    background-color: #051A19;
    width: 100%;
    height: 100vh;
}

#clock-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid rgb(102, 101, 101);
    /* box-shadow: 2px 5px 10px black; */
    border-radius: 5px;
    width: 40%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    /* color: #fff; */
}

#timer {
    font-size: 40px;
    font-weight: bolder;
    color: #CCF5F4;
    letter-spacing: 0.1em;
}

#day,
#month {
    font-size: 40px;
    padding: 30px;
}

.dayBefore {
    background: linear-gradient(to right, #0F4E4C, #047a78);
    /* left to right gradient */
    -webkit-background-clip: text;
    /* for Safari and Chrome */
    -webkit-text-fill-color: transparent;
}

.today {
    color: #85b7b6;
    font-size: 70px;
    letter-spacing: 0.1em;
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
}

.dayAfter {
    background: linear-gradient(to right, #047a78, #0F4E4C);
    /* left to right gradient */
    -webkit-background-clip: text;
    /* for Safari and Chrome */
    -webkit-text-fill-color: transparent;
}

.monthBefore {
    background: linear-gradient(to right, #0F4E4C, #047a78);
    /* left to right gradient */
    -webkit-background-clip: text;
    /* for Safari and Chrome */
    -webkit-text-fill-color: transparent;
}

.currMonth {
    color: #85b7b6;
    font-size: 70px;
    letter-spacing: 0.1em;
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
}

.monthAfter {
    background: linear-gradient(to right, #047a78, #0F4E4C);
    /* left to right gradient */
    -webkit-background-clip: text;
    /* for Safari and Chrome */
    -webkit-text-fill-color: transparent;
}